.smhBtn{padding-bottom:10px;}
#content{padding-top:0 !important;}
._2yRSr{border-top:0 !important;}
._2yRSr{border-top:0 !important}
._2YAR2{margin-bottom:0 !important}
._2-5AL{
    padding-top:10px !important;
    padding-bottom:0 !important;
    margin-bottom: 16px !important;
}
