.smhBtn{padding-bottom:10px;}
._2YAR2{margin-bottom:0 !important}
#content{
    padding-top:0 !important;
    border-top:0 !important;}
._1ysFk{float:none !important;
    margin-left:auto !important;
    margin-right:auto !important;}
.vPaWe{
    float:none !important;
    margin-left:auto !important;
    margin-right:auto !important;
}
._2yRSr{border-top:0 !important}
._2-5AL{padding-top:10px !important;
    padding-bottom:0 !important;
    margin-bottom: 16px !important;
}