.center-screen {

    justify-content: center;
    align-items: center;
    text-align: center;

}
body{
    height: 100vh;
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;

}
#summaryDiv{
    display: none;

}
#summaryDiv img{
width:40px;
}
#summaryDiv .card{

    position:fixed;
    overflow:visible;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5CB85C;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5CB85C;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.resultLinks, .resultLinks:hover{
    color: #006621;
    text-decoration: none;
}
.resultTitle{
    font-size: 17px;
    line-height: 1.33;
    margin-bottom: 0;
}
.resultTitle,.resultTitle a,.resultTitle a:link,.resultTitle a:active,.resultTitle a:hover {
    color: #1906A7;
}
#searchBox{
    margin:20px 0 10px 0;
}
.queryDiv{
    width: 45%;
}
#output{
    margin:10px 10px 10px 6%;

}
#output p{

}
.searchResult .img-thumbnail{
    max-width: 200px;
    margin-top: 17px;
}
.searchResultRow {
    margin: 15px 0 15px 0;

}
#searchBox button ,#searchBox input {
    margin-left: 10px;

}
#searchBox #logo{
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
}
.queryInput{/*
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;*/
    height: 50px;
    margin-left:0 !important;
}

.block {
    text-decoration: none;
    width: 200px;
    height: 272px;
    background:red;
    border: 0;
    display: block;
}
.block h3 {
    color: black;
}
.input-group-text{
    background-color: inherit;
    border-left: 0;
    border-radius: 0 1.7rem 1.7rem 0;

}
#query{
    height: 50px;
    border-right: 0;
   /* border-left: 0;*/
}
.custom-select{
    width: auto !important;
}
#querySelect{
    height: 50px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.card{
    width:100%; max-width: 650px;
}