.center-screen {
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    height: 100vh;
    width: auto !important;  /* Firefox will set width as auto */

}
.fa-search{
    color:white;
}


.resultLinks, .resultLinks:hover{
    color: #006621;
    text-decoration: none;
}
.resultTitle{
    font-size: 1.1em;
    line-height: 1.33;
    margin-bottom: 0;
}
.resultTitle,.resultTitle a,.resultTitle a:link,.resultTitle a:active,.resultTitle a:hover {
    color: #1906A7;
}
@media screen and (min-width: 800px) {
    #searchBox{
        margin:25px 0 10px 0;
    }
}
@media screen and (max-width: 799px) {
    #searchBox{
        margin:25px 0 0 0;
    }
}
.fa-search{
    color:#868e96;
}

.input-group-append:hover,#btnSearch:hover,#btnSearch:hover>i{
    background-color: #868e96;
    border-left: 0;
    color: white !important;
    border-radius: 0 .25rem .25rem 0;
}
#btnSearch{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.searchResult .img-thumbnail{
    max-width: 200px;
    margin-top: 17px;
}
.searchResultRow {
    margin: 15px 0 15px 0;

}
#searchBox #logo{
    max-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

#logo{
    margin-bottom:20px;
}
@media screen and (max-width: 768px){
    #logo{ max-width: 350px}
}
@media screen and (max-width: 576px){
    #logo{ max-width: 300px}
}
.indexForm{

    clear: both;
    display: table;
}
#query{
    width: 100%;
    height: auto;
    line-height: 1.5;
    font-weight: 400;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.1rem solid grey;
    overflow: visible;
}
.queryDiv{
    width: 100%;
}
.custom-select{
    width: auto !important;
}
#querySelect{
    height: auto;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 0.1rem solid grey;
}
#btnSearch{
    border: 0.1rem solid grey;
}
.card{
    width:100%; max-width: 650px;
}

/* Prompt blink idle*/
.idle {
    animation: idleBlinker 2s linear;
}

@keyframes idleBlinker {
    0% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    25% {
        -webkit-box-shadow: 0 0 3rem 0 green;
        -moz-box-shadow: 0 0 3rem 0 green;
        box-shadow: 0 0 3rem 0 green;
    }
    50% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    75% {
        -webkit-box-shadow: 0 0 3rem 0 green;
        -moz-box-shadow: 0 0 3rem 0 green;
        box-shadow: 0 0 3rem 0 green;
    }
    100% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
