.center-screen {

    justify-content: center;
    align-items: center;
    text-align: center;

}
body{
    height: 100vh;
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;

}
.linkResults{
color:#006621;
}